// custom mixins (non-bootstrap)
// =============================================================================

@mixin circle-size($size) {
    @if $size == 1 {
        width: $circle-size-1;
        height: $circle-size-1;
    }
    @if $size == 2 {
        width: $circle-size-2;
        height: $circle-size-2;
    }
    @if $size == 3 {
        width: $circle-size-3;
        height: $circle-size-3;
    }
}

// bootstrap mixins
// =============================================================================
@import "~bootstrap/scss/mixins";