// => https://github.com/twbs/bootstrap-sass/blob/master/assets/stylesheets/bootstrap/_variables.scss

// Colors
// =============================================================================

$brand-primary: #16425B !default;
$primary: $brand-primary;
$brand-primary-light: #0048EA !default;
$brand-success: #5cb85c !default;
$brand-info: rgb(0, 143, 186) !default;
$brand-warning: rgb(255, 196, 0) !default;
$brand-danger: rgb(255, 18, 18) !default;
$brand-secondary: #009290 !default;
$brand-light-gray: #f7f7f7;
$white: #fff;
$black: #000;

$accent-bg: rgba($brand-primary, 0.03);

// Fonts
// =============================================================================

$font: Arial, sans-serif;
$font-family-base: $font !default;

// fonts
$font-root: 16px !default;
$font-size-base: 1.25rem !default;
$font-size-smaller: 1.25rem !default;

$h1-font-size: 4rem;
$h2-font-size: 3.75rem;
$h3-font-size: 3.125rem;

// Form
// =============================================================================
$border-radius-base: 100px;

// bootstrap vars
// =============================================================================
$enable-rounded: true;
$component-active-bg: transparent;

// Buttons
$btn-border-radius-base: 1000px;

$table-border-color: $brand-primary;
$table-cell-padding: 5px;

$nav-link-header-size: .8rem;

$header-bar-height: 60px;

// grid
// =============================================================================

$grid-columns: 12;
$grid-gutter-width: 40px;
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1400px
);
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1300px,
);
