@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600');

body, html {
  font-family: 'Source Sans Pro', sans-serif;
}

.page-title {
  font-size: 36px;
  margin-bottom: 1rem;
}
